name: build

on:
  push:
    branches:
      - main
  pull_request:

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_NOLOGO: 1

jobs:
  build:
    name: Build / Test
    runs-on: ubuntu-latest

    steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Install .NET SDKs
          uses: actions/setup-dotnet@v5
          with:
            dotnet-version: |
              6.0.x
              8.0.x
              9.0.x

        - name: Restore
          run: dotnet restore --nologo

        - name: Run Data Builder
          run: dotnet run --project src/GeoTimeZone.DataBuilder -c Release --nologo --no-restore

        - name: Build Solution
          run: dotnet build -c Release --nologo --no-restore

        - name: Test
          run: dotnet test -c Release --nologo --no-build -l GitHubActions -l "trx;LogFileName=testresults.trx"
